/* max width of 480 */
.body {
  padding: 0 0 5rem;
  position: relative;
}
.header  {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #dee2e5;
}

.logo {
  display: block;
  margin-bottom: 1.5rem;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav_item {
  margin-bottom: 0.75rem;
}
.header-link {
  color: #26425f;
}

.header-link:active, .header-link:visited  {
  color: #26425f;
  opacity: 0.5;
}

.sect {
  padding: 2.5rem 0;
}

.sect1, .sect5  {
  padding: 2.5rem 1.5rem;
}

.main-svg-container {
  text-align: center;
}

.main-svg {
  max-width: 373px;
  width: 100%;
}

.sect1-desc {
  padding: 1.5rem 0 0;
}

.sect1-title  {
  text-align: center;
  font-size: 1.875rem;
  font-weight: 300;
  color: #26425f;
  margin: 0 0 2rem;
}

.sect1-content  {
  text-align: center;
  line-height: 1.5;
  color: #56677b;
  margin: 0 0 2.5rem;
}

.sect1-link-container {
  padding: 0 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.sect1-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sect1-button, .sect1-button:visited  {
  width: 100%;
  height: 3rem;
  /* padding: 0 1.5rem; */
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #fff;
  background-color: #4099de;
  border: 0px solid #4099de;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sect1-button:hover {
  background-color:  #1d6daa;
  border: 0 solid #1d6daa;
}

.sect1-button:active  {
  background-color: #4099de;
  border: 0px solid #4099de;
}

.sect1-link, .sect1-link:visited {
  display: flex;
  width: 100%;
  padding: 0 0.75rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  color: #4099de;
  font-weight: 700;
}

.sect1-link:hover {
  opacity: 0.5;
}

.sect1-link:active  {
  opacity: 0.8;
}

.sect2  {
  background-color: #26425f;
}

.image-container {
  padding: 0 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,.11),0 5px 15px 0 rgba(0,0,0,.08);
}

.image  {
  max-width: 100%;
  height: auto;
  border: 0 solid;
  border-radius: 0.5rem;
}
.sect2_title  {
  margin-bottom: 2.5rem;
  padding: 0 1.5rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  line-height: 1.5;
}
.card-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.card {
  padding: 0 1rem;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.card:last-of-type  {
  margin-bottom: 0;
}

.sect2_card-icon  {
  margin-right: 1.5rem;
}

.sect2_card-title {
  margin-bottom: 0.75rem;
  font-size: 1.125rem;
  color: #fff;
  font-weight: bold;
}
.sect2_card-content {
  line-height: 1.5;
  color: #aaf1ff;
}
.sect3  {
  background-color: #fff;
}
.sect3_card-container   {
  padding: 0 0.5em;
}
.sect3_card-icon  {
  margin-right: 2rem;
}
.sect3_card-title {
  margin-bottom: 0.75rem;
  color: #26425f;
  font-weight: bold;
}
.sect3_card-content {
  line-height: 1.7;
  font-size: 0.875rem;
  color: #4c5c69;
}
.sect4  {
  padding: 2.5rem 1.5rem;
  background-image: linear-gradient(135deg,#2891c4,#125b93);
}
.creator-img  {
  display: block;
  width: 6rem;
  height: 6rem;
  margin: 0 auto 2.5rem;
  border: 4px solid #fff;
  border-radius: 50%;
  /* max-width: 100%; */
}
.sect4_body {
  line-height: 1.25;
  text-align: center;
  color: #fff;
}
.sect4_content  {
  margin: 0 0 1.5rem;
  font-size: 1.25rem;
}
[class^=creator-] {
  letter-spacing: 0.05em;
  font-size: 0.75rem;
  font-weight: 700;
}
.creator-name {
  margin: 0 0 0.5rem;
}
.creator-label  {
  color: hsla(0,0%,100%,.7);
}
.tablet-container {
  width: 100%;
  margin: 0 auto 2.5rem;
}
.tablet {
  width: 100%;
  border: 0 solid;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,.11),0 5px 15px 0 rgba(0,0,0,.08);
}
.tablet:first-of-type {
  margin: 0 0 2.5rem;
}
.tablet-body:first-of-type  {
  padding: 2rem 1.5rem 2.5rem ;
}
.tablet-body:last-of-type  {
  padding: 2rem 2.5rem 2.5rem;
}
.tablet-title {
  margin: 0 0 0.25rem;
  font-size: 1.25rem;
  letter-spacing: 0.05em;
  font-weight: bold;
  color: #4a90e2;
}
.tablet-price {
  /* height: 78px; */
  margin: 0 0 1rem;
  vertical-align: text-top;
}
.tablet-price_currency  {
  font-size: 1.875rem;
  font-weight: 300;
  color: #8a97a2;
  line-height: 0;
  position: relative;
  top: -1rem;
}

.tablet-price_number  {
  font-size: 3.75rem;
  font-weight: 300;
  color: #202c3a;
}
.tablet-price_item  {
  font-size: 1.25rem;
  font-weight: 300;
  color: #202c3a;
}
.tablet-content-container {
  line-height: 1.5;
  color: #26425f;
}
.tablet-content {
  padding: 0.5rem 0;
  display: flex;
}

.tablet-content_icon  {
  margin-right: 0.75rem;
  fill: #4099de;
}
.tablet-note {
  margin-top: 3rem;  
  font-size: 0.875rem;
  line-height: 1.5;
  color: #56677b;
}
.tablet-link, .tablet-link:visited  {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.5rem;
  letter-spacing: 0.05em;
  font-weight: 700;
  color: #4099de;
  background-color: #f7f9fb;
}
.tablet-link:hover  {
  background-color: #eef1f4;
}
.tablet-link span {
  margin-left: 0.75rem;
  font-weight: 700;
}
.footer {
  margin: 1.5rem 0 0;
}
.footer_note, .footer_link-container {
  padding: 0 3rem;
  margin-bottom: 0.25rem;
  text-align: center;
  line-height: 1.5;
  font-size: 0.875rem;
  color:#56677b;
}
.footer_link  {
  padding: 0.75rem 0 0;
  color: #4099de;
}
.divider  {
  padding: 0 0.25rem;
  color: #8a97a2;
}
/* not done with this */
.message-button-container {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 1000;
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
}
.sec-con  {
  width: 100%;
  position: relative;
  background-color: transparent;
}
.message-button {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(49, 65, 78);
  ;
  border-radius: 50%;
  background-color: rgb(49, 65, 78);
}
.icons-container  {
  display: flex;
}
.cancel-icon  {
  display: none;
}
.message-button:active .message-icon  {
  display: none;
}
.message-button:active .cancel-icon  {
  display: inline;
}

@media screen and (min-width:768px) {

  .body {
    max-width: 960px;
    margin: 0 auto;
  } 
  
  .header  {
    height: 5.3135rem;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    display: inline-block;
    margin: 0;
  }
  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 447.4px;
    /* margin-left: auto; */
  }
 
  .nav_item {
    flex: 0 auto;
    margin: 0;
  }

  .sect1  {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 5rem 0 calc(4rem + 175px);
    margin: 0 auto;
  }
  .main-svg-container {
    width: 50%;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
  .sect1-desc  {
    width: 50%;
    /* margin-right: 2.5rem; */
  }
  .sect1-title  {
    font-size: 3rem;
    text-align: left;
  }
  .sect1-content  {
    font-size: 1.25rem;
    text-align: left;
  }
  .sect1-link-container {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .sect1-button {
    display: inline-flex;
    width: auto;
    margin-right: 1.5rem; 
    padding: 0 1.5rem;
    white-space: nowrap;
  }
  .sect1-link   {
    padding-left: 0.75rem;
    display: inline-flex;
    white-space: nowrap;
  }
    }